rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Jede Person darf nur ihr eigenes Portfolio lesen und schreiben
    match /portfolios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
